<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderSection("angular", required: false)
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <ul id="menu">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                </ul>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
