@if (Request.IsAuthenticated)
{

    if (User.IsInRole("admin"))
    {
        <li>@Html.ActionLink("Admin's Page", "AdminIndex", "Home")</li>
    }

    if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <li>@Html.ActionLink("Tests", "TestsIndex", "Home")</li>
    }


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}
